html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app {
    width: 100%;
    height: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.container {
    width: 100%;
    height: 100%;
    &.active {
        color: #000;
        .aside {
            width: 64px;
            transition: width 0.28s;
        }
        .content {
            padding-left: 72px;
            transition: width 0.28s;
        }
    }
}
